/*==================== DEFINICOES GERAIS ====================*/

html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}


/*==================== CORES BACKGROUND ====================*/

.bg-verde-escuro {
    background: #06262c;
}

.bg-verde {
    background: #0dbc82;
}

.bg-cinza {
    background: #f3f4f4;
}


/*==================== SUBTITULO ====================*/

.subtitulo {
    font-size: 2.5em;
    color: #fff;
    font-weight: 300;
}

.subtitulo:after {
    content: "";
    display: block;
    background: rgba(255, 255, 255, .3);
    width: 70px;
    height: 3px;
    margin: 1% 0 2% 0;
}

.cinza:after {
    background: rgba(122, 122, 122, .3);
}

.cinza {
    color: #5b676a;
}


/*==================== TRANSICOES ====================*/

.animacao:hover {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}


/*==================== BOTOES ====================*/

.btn-menu {
    display: none;
    color: rgba(255, 255, 255, .7);
    padding: 15px 0;
}

.btn {
    color: #0dbc82;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #0dbc82;
}

.verde {
    color: #fff;
    background: #0dbc82;
}

.verde:hover, .btn:hover {
    color: #fff;
    background: #06262c;
    border: 1px solid #06262c;
}


/*==================== CONTAINER E CONTEUDO ====================*/

.container {
    width: 80%;
    /*border: 2px solid pink;*/
    /*float: right;*/
    margin-left: 20%;
    position: relative;
    padding: 4% 0;
}

.container:after, .container:before {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

.conteudo {
    width: 80%;
    /*border: 2px solid green;*/
    float: left;
    /*margin: 0 auto;*/
    margin-right: 10%;
    margin-left: 10%;
}


/*==================== SIDEBAR ====================*/

.sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    z-index: 10;
}


/*====================HEADER====================*/

.header {
    width: 80%;
    /*height: 80%;*/
    position: relative;
    /*border: 2px solid green;*/
    margin: 0 auto;
    top: 10%;
    padding: 15px 0;
}

.header img {
    width: 150px;
    max-width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.header h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 300;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}


/*====================NAVBAR====================*/

.navbar ul li {
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 300;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar ul li:last-child {
    border: none;
}

.navbar ul li a {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: .07em;
}

.navbar ul li a:hover, .navbar ul li a i:hover {
    color: #fff;
}


/*====================INTRODUCAO====================*/

.intro {
    border: none;
    padding-top: 10%;
}

.intro-bg {
    background: url("../img/bg-intro.jpg") no-repeat center;
    background-size: cover;
}

.intro h1 {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    font-size: 2.5em;
    letter-spacing: .08em;
    /*text-align: justify;*/
}

.intro ul li {
    display: inline-block;
    padding: 3% 3% 0 0;
}

.intro ul li a i {
    color: rgba(255, 255, 255, 0.4);
}

.intro ul li a i:hover {
    color: #FFF;
}


/*====================SOBRE====================*/

#sobre {
    border: none;
}

#sobre .subtitulo:after {
    width: 40px;
    margin: 1% 0 1% 0;
}

#sobre h3 {
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.5em;
    color: #0dbc82;
    margin-bottom: 10px;
}

#sobre p {
    font-size: 1.1em;
    color: #5b676a;
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 40px;
}

#sobre .btn.verde {
    margin-right: 20px;
}


/*====================FORMACAO====================*/

#formacao {
    border: none;
}


/*====================Skills====================*/

#skills .subtitulo:after {
    width: 40px;
}


/*====================Contato====================*/

.bg-contato {
    background: url("../img/bg-contato.jpg") no-repeat center;
    background-size: cover;
}

.caixa-contato {
    width: 33%;
    text-align: center;
    float: left;
    /*border: 1px solid pink;*/
    padding: 15px 0;
}

.caixa-contato i {
    color: #fff;
}

.caixa-contato h3 {
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    padding: 15px 0;
}

.caixa-contato p, .caixa-contato a {
    color: #fff;
    font-weight: 300;
}

.caixa-contato a {
    display: block;
    margin-bottom: 5px;
}


/*==================== Footer ====================*/

footer.container {
    padding: 20px 0;
}

footer img {
    display: block;
    width: 50px;
    max-width: 80%;
    float: left;
}

footer p{
    color: rgba(255,255,255,.7);
    font-size: .9em;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-weight: 300;
    margin-left: 15px;
    margin-top: 5px;
    float: left;
    display: block;
}

/*==================== SECTION EXPANSIVEL ====================*/

.expand {
    display: block;
    color: #5b676a;
    font-size: 1.4em;
    letter-spacing: .01em;
    font-weight: 300;
    border-bottom: 1px solid #cccccc;
    padding: 15px 0;
}

.expand:hover {
    color: #0dbc82;
    cursor: pointer;
}

.expand i {
    color: #cccccc;
    padding: 0 15px;
}


/*.expand::before{
    content: "+";
    color: #0dbc82;
    padding: 0 0.8%;
    border: 1px solid #0dbc82;
    border-radius: 100%;
    font-weight: 400;
}*/

.expand-section {
    padding: 15px 0;
}

.expand-section ul li {
    padding: 5px;
    margin-left: 30px;
    color: #5b676a;
}

.expand-section span {
    font-weight: 600;
}

.expand-section i {
    color: #0dbc82;
}


/*============================================================*/

@media only screen and (max-width: 960px) {
    .container {
        width: 100%;
        margin-left: 0px;
        padding: 5% 0;
    }
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        float: left;
    }
    .sidebar .nome {
        color: rgba(255, 255, 255, .7);
        float: left;
    }
    .btn-menu {
        float: right;
        display: block;
    }
    .header {
        float: left;
        margin-left: 10%;
        margin-right: 10%;
    }
    .header img {
        width: 0;
    }
    .navbar {
        display: none;
        clear: both;
    }
    .navbar ul li {
        display: block;
        text-align: center;
    }
    .intro h1 {
        font-size: 1.5em;
        text-align: left;
    }
}

@media only screen and (max-width: 768px) {
    .subtitulo {
        font-size: 2.2em;
    }
    .intro {
        text-align: center;
    }
    .intro ul li a i {
        padding: 0 4%;
    }
    .intro h1 {
        font-size: 1.5em;
        text-align: center;
    }
    #sobre {
        padding-bottom: 5%;
    }
    .expand {
        font-size: 1.2em;
    }
    .expand-section ul li {
        font-size: .9em;
    }
    .caixa-contato {
        width: 100%;
        float: none;
    }
}

@media only screen and (max-width: 640px) {
    .container {
        padding: 10% 0;
    }
    .sidebar .nome {
        font-size: 1.4em;
    }
    .subtitulo {
        font-size: 2em;
    }
    .intro-bg {
        padding-bottom: 5%;
    }
    #sobre p {
        font-size: .9em;
    }
    #sobre h3 {
        font-size: 1.2em;
        padding: 5% 0;
    }
    .expand {
        font-size: 1em;
    }
}

@media only screen and (max-width: 414px) {
    .intro h1 {
        font-size: 1.2em;
    }
    .subtitulo {
        font-size: 1.6em;
    }
    #sobre p {
        font-size: 1em;
        text-align: left;
    }
    #sobre h3 {
        font-size: 20px;
    }
    .expand-section ul li {
        font-size: .8em;
    }
}
