
	@-webkit-keyframes listras-anim {
		from {background-position:40px 0}
		to {background-position:0 0}
	}
	@-moz-keyframes listras-anim {
		from {background-position:40px 0}
		to {background-position:0 0}
	}
	@-o-keyframes listras-anim {
	from {background-position:40px 0}
	to {background-position:0 0}
	}
	@keyframes listras-anim {
	from {background-position:40px 0}
	to {background-position:0 0}
	}

.progresso {
	margin-bottom: 10px;
	margin-left: 3%;
	margin-right: 3%;
	overflow: hidden;
	height: 15px;
	background-color: #e7e7e7;
	padding: 1px;
	box-shadow: inset -1px -1px 18px #CECECE, inset 0 -1px 0 #CECECE
}
.progresso-barra-java {
	width: 49%;
	height: 15px;
	background-color: #428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease
}
.progresso-barra-SQLServer {
	width: 40%;
	height: 15px;
	background-color:#428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease
}

.progresso-barra-MySQL {
	width: 42%;
	height: 15px;
	background-color:#428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease
}

.progresso-barra-HTML {
	width: 38%;
	height: 15px;
	background-color:#428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease
}

.progresso-barra-CSS {
	width: 34%;
	height: 15px;
	background-color:#428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease
}

.progresso-barra-Photoshop {
	width: 42%;
	height: 15px;
	background-color:#428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease
}

.progresso-barra-Corel {
	width: 45%;
	height: 15px;
	background-color:#428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease
}

.progresso-pai .progresso-barra-java, .progresso-pai .progresso-barra-SQLServer, .progresso-pai  .progresso-barra-MySQL, .progresso.ativa .progresso-barra-HTML, .progresso.ativa .progresso-barra-CSS,
.progresso.ativa .progresso-barra-Photoshop, .progresso.ativa .progresso-barra-Corel{
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255,255,255,.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255,255,255,.15)), color-stop(0.75, rgba(255,255,255,.15)), color-stop(0.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(45deg, rgba(255,255,255,.15)25%, transparent 25%, transparent 50%, rgba(255,255,255,.15)50%, rgba(255,255,255,.15)75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255,255,255,.15)25%, transparent 25%, transparent 50%, rgba(255,255,255,.15)50%, rgba(255,255,255,.15)75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255,255,255,.15)25%, transparent 25%, transparent 50%, rgba(255,255,255,.15)50%, rgba(255,255,255,.15)75%, transparent 75%, transparent);
	background-size: 40px 40px
}

.progresso.ativa .progresso-barra-java, .progresso.ativa .progresso-barra-SQLServer, .progresso.ativa .progresso-barra-MySQL, .progresso.ativa .progresso-barra-HTML, .progresso.ativa .progresso-barra-CSS,
.progresso.ativa .progresso-barra-Photoshop, .progresso.ativa .progresso-barra-Corel{
	-webkit-animation: listras-anim 2s linear infinite;
	-moz-animation: listras-anim 2s linear infinite;
	-ms-animation: listras-anim 2s linear infinite;
	-o-animation: listras-anim 2s linear infinite;
	animation: listras-anim 2s linear infinite
}
